.SearchResults {
	width: 60%;
	max-width: 500px;
	height: 705px;
	overflow-y: scroll;
	padding: 0.88rem;
	border-radius: 0.3rem;
	background-color: rgba(30, 31, 32, 0.493);
	background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562));
	padding: 1rem 1rem;
	margin: 0rem 1rem;
}

.SearchResults h2 {
	border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
	padding-bottom: 1rem;
	margin-bottom: 0.75rem;
	user-select: none;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

@media only screen and (max-width: 1020px) {
	.SearchResults {
		width: 100%;
		margin-bottom: 2rem;
	}
}
