.SearchResults {
	grid-area: 1 / 1 / span 1 / span 7;
	height: 705px;
	width: 100%;
	overflow-y: scroll;
	border-radius: 10px;
	background-color: rgba(30, 31, 32, 0.493);
	background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562));
	padding: 1rem 1rem;
	margin: 0rem 1rem;
	justify-self: start;
	backdrop-filter: blur(5px);
}

.SearchResults h2 {
	border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
	padding-bottom: 1rem;
	margin-bottom: 0.75rem;
	user-select: none;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.loading,
.hasError {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem;
}

.loading span {
	border-radius: 12px;
}

.errorAPI {
	padding: 0rem;
	margin: 0rem;
	font-family: 'ProximaNova_Light';
	font-size: 1.1rem;
}

@media (min-width: 992px) and (max-width: 1200px) {
	.SearchResults {
		width: 100%;
		margin-bottom: 2rem;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.SearchResults {
		width: 90%;
		margin-bottom: 2rem;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.SearchResults {
		margin: 0rem 0rem;
		width: 85%;
		justify-self: center;
	}
}

@media (max-width: 576px) {
	.SearchResults {
		grid-area: 1 / 1 / span 1 / span 12;
		width: 95%;
		margin: 0rem;
		height: 500px;
	}
}
