.Playlist {
	grid-area: 1 / 9 / span 1 / span 4;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
	width: 100%;
	min-height: 705px;
	padding: 1rem 1rem;
	border-radius: 10px;
	background-color: rgba(30, 31, 32, 0.493);
	background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562));
	margin-bottom: 2rem;
	justify-self: end;
	backdrop-filter: blur(5px);
}

.Playlist input {
	width: 100%;
	border: 0;
	outline: 0;
	background: transparent;
	color: #fff;
	font-family: 'ProximaNova_Regular', 'Poppins', sans-serif;
	font-size: 1.3rem;
	align-self: center;
	padding: 0.1rem;
}

.loading {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem;
}

.fa-edit {
	padding-right: 0.5rem;
}

form {
	width: 100%;
}

.searchContainer {
	display: grid;
	grid-template: 1fr 0.5fr 1fr / 1fr;
}

.inputGroup {
	display: flex;
	align-self: center;
	padding: 1.5rem 0rem 0.2rem 0rem;
}

.Playlist-save {
	cursor: pointer;
	width: 10rem;
	padding: 0.77rem 0;
	border-radius: 54px;
	border-width: 0px;
	margin-top: 1.27rem;
	background-color: #6c41ec;
	text-align: center;
	font-size: 0.83rem;
	transition: background-color 0.25s;
	color: #fff;
	font-weight: 500;
}

.Playlist-save:hover {
	background-color: rgba(108, 65, 233, 0.7);
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.button_container {
	grid-area: 3 / 1 / span 1 / span 1;
	justify-self: center;
	align-self: center;
}

.error_container {
	grid-area: 2 / 1 / span 1 / span 1;
	align-self: center;
}
.error_field {
	color: red;
}

@media (min-width: 992px) and (max-width: 1200px) {
	.Playlist {
		width: auto;
	}

	.searchContainer {
		display: grid;
		grid-template-columns: 0.2fr 1.5fr 1fr;
		overflow: hidden;
		border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
		padding: 1rem 0rem;
		padding-left: 1.5rem;
		width: 100%;
		align-items: flex-start;
		margin-bottom: 1.3rem;
	}
}

@media (max-width: 992px) {
	.searchContainer {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(12, 1fr);
	}
	.Playlist input {
		grid-area: 1 / 2 / span 1 / span 12;
	}

	.button_container {
		grid-area: 2 / 1 / span 1 / span 12;
		justify-self: center;
		align-self: flex-end;
		padding: 0.5rem 0rem;
		width: auto;
		margin-top: 0.5rem;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.Playlist {
		grid-area: 2 / 1 / span 1 / span 12;
		width: 95%;
		margin: 1.5rem 0rem;
	}
}

@media (max-width: 576px) {
	.Playlist {
		grid-area: 2 / 1 / span 1 / span 12;
		width: 90%;
		margin: 1.5rem auto;
		height: 500px;
		min-height: auto;
		justify-self: start;
	}
}
