.Playlist {
	grid-area: 1 / 9 / span 1 / span 4;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
	width: 100%;
	min-height: 705px;
	padding: 1rem 1rem;
	border-radius: 10px;
	background-color: rgba(30, 31, 32, 0.493);
	background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562));
	margin-bottom: 2rem;
	justify-self: end;
	backdrop-filter: blur(5px);
}

.Playlist input {
	width: 100%;
	border: 0;
	outline: 0;
	background: transparent;
	font-family: 'Poppins', sans-serif;
	font-size: 1.55rem;
	color: #fff;
	padding-bottom: 1rem;
	font-family: 'ProximaNova_Regular', 'Poppins', sans-serif;
	font-size: 1.55rem;
}

.loading {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem;
}

.fa-edit {
	padding-top: 0.3rem;
	padding-right: 0.5rem;
}

.searchContainer {
	display: inline-flex;
	overflow: hidden;
	border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
	padding-top: 1.3rem;
	width: 100%;
}

.Playlist-save {
	cursor: pointer;
	width: 10rem;
	padding: 0.77rem 0;
	border-radius: 54px;
	border-width: 0px;
	margin-top: 1.27rem;
	background-color: #6c41ec;
	text-align: center;
	font-size: 0.83rem;
	transition: background-color 0.25s;
	color: #fff;
	font-weight: 500;
}

.Playlist-save:hover {
	background-color: rgba(108, 65, 233, 0.7);
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

@media (min-width: 992px) and (max-width: 1200px) {
	.Playlist {
		width: auto;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.Playlist {
		margin-left: 3rem;
		justify-self: flex-end;
	}
}

@media (max-width: 576px) {
	.Playlist {
		grid-area: 2 / 1 / span 1 / span 12;
		width: 95%;
		margin: 0rem;
		height: 500px;
		min-height: auto;
		justify-self: start;
		margin: 1.5rem 0rem;
	}
}
