.Header img {
	max-width: 35px;
}

.Header {
	width: 100%;
	top: 0;
	z-index: 10;
	background-color: rgba(30, 31, 32, 0.493);
	background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562));
}

.Header p {
	text-transform: uppercase;
	font-family: 'ProximaNova_Semibold';
	font-weight: bold;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.Header a {
	color: white;
	text-decoration: none;
	font-family: 'ProximaNova_Semibold';
	font-weight: bold;
	font-size: 1.1rem;
	text-transform: uppercase;
	justify-self: center;
	transition: 0.35s;
}

.Header a:hover {
	color: #1db954;
}

.gridHeader {
	display: grid;
	width: 70%;
	max-width: 1000px;
	margin: auto;
	height: 72px;
	grid-template-columns: minmax(50px, 75px) repeat(4, 1fr);
	align-items: center;
}

.gridHeader img {
	justify-self: center;
}

@media (max-width: 768px) {
	.gridHeader a {
		display: none;
	}

	.gridHeader {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.gridHeader p {
		justify-self: center;
		align-items: center;
	}

	.gridHeader img {
		padding-right: 1rem;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.gridHeader {
		width: 90%;
	}
}
