.Header img {
	max-width: 35px;
}

.Header {
	width: 100%;
	top: 0;
	z-index: 10;
	background-color: rgba(30, 31, 32, 0.493);
	background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562));
}

.Header p {
	text-transform: uppercase;
	font-family: 'ProximaNova_Semibold';
	font-weight: bold;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.Header a {
	color: white;
	text-decoration: none;
	font-family: 'ProximaNova_Semibold';
	font-weight: bold;
	font-size: 1.3rem;
	text-transform: uppercase;
	justify-self: center;
	transition: 0.5s;
}

.Header a:hover {
	color: #1db954;
}

.gridHeader {
	display: grid;
	width: 70%;
	max-width: 1000px;
	margin: auto;
	height: 72px;
	grid-template-columns: minmax(50px, 75px) repeat(4, 1fr);
	align-items: center;
	justify-items: space-between;
}

.gridHeader img {
	justify-self: center;
}
