/* --- Footer --- */
.Footer {
	position: relative;
	padding: 20px;
	min-height: 150px;
	display: flex;
	justify-content: left;
	grid-template: repeat(3, 1fr) / repeat(12, 1fr);
	background-color: rgba(30, 31, 32, 0.493);
	background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562));
	margin-top: 5rem;
	color: white;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(12, 1fr);
}

.navigation-footer {
	grid-area: 1 / 1 / span 1 / span 12;
	justify-self: center;
	align-self: center;
}

.navigation-footer p {
	font-family: 'ProximaNova_Regular';
	font-size: 1.1rem;
	display: inline;
	margin: auto 1.3rem;
	cursor: pointer;
	text-transform: uppercase;
	transition: 0.5s;
}

.navigation-footer p:hover {
	color: #8b9697;
}

.social-footer {
	grid-area: 2 / 1 / span 1 / span 12;
	justify-self: center;
	align-self: center;
	display: inline-flex;
}

.social-footer i {
	color: #221e1e;
	width: 1.8rem;
	height: 1.8rem;
	background-color: white;
	border-radius: 50%;
	display: grid;
	justify-items: center;
	align-items: center;
	margin: auto 0.75rem;
}

.signature-footer {
	grid-area: 3 / 1 / span 1 / span 12;
	border-top: 1px solid #a6a5a5;
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
}

.signature-footer p {
	margin: 1.5rem 0rem 0rem 0rem;
	font-family: 'ProximaNova_Regular';
	font-size: 1rem;
	color: #a6a5a5;
	padding: 0rem 1rem;
}
